ConnectionStrings__Default=Host=postgres;Port=5432;Database=soattechchallenge;Username=postgres;Password=COLOQUE_AQUI
JwtSettings__Secret=COLOQUE_AQUI
JwtSettings__ExpirationHours=2

POSTGRES_DB=soattechchallenge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=COLOQUE_AQUI

ASPNETCORE_ENVIRONMENT=Development